@import "tailwindcss";

:root {
  /* On force le fond GRIS CLAIR Apple par défaut */
  --background: #F5F5F7;
  --foreground: #1D1D1F;
}

/* On applique ces couleurs au body */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* On supprime les flèches moches des inputs nombres */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}