@import "tailwindcss";

/* --- LA LIGNE MAGIQUE POUR LE MODE SOMBRE MANUEL --- */
/* Cela dit à Tailwind : "N'active le mode sombre que si je mets la classe .dark" */
@variant dark (&:where(.dark, .dark *));

/* --- THÈME & STYLES --- */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Couleur de fond par défaut (Mode Clair Apple) */
  --background: #F5F5F7; 
  --foreground: #1D1D1F;
}

/* Appliquer les couleurs */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Nettoyage des inputs nombres */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Supprime les flèches sur Firefox */
input[type=number] {
  -moz-appearance: textfield;
}